$tabs-border-color: #c4ced1;
$tab-padding-left: 15px;
$tab-padding-right: 15px;
$tab-background-color: #e2e6e8;
$tab-line-height: 32px;
$active-tab-line-height: 35px;
$active-tab-border-radius: 2px;

.tradegecko-ui-nav-tabs {
  display: flex;
  border-bottom: 1px solid $tabs-border-color;

  &__tab, &__tab:focus {
    border: 1px solid transparent;
    border-bottom: 0;
  }

  &__tab {
    align-self: flex-end;
    padding-left: $tab-padding-left;
    padding-right: $tab-padding-right;
    background-color: $tab-background-color;
    color: inherit;
    line-height: $tab-line-height;

    + .tradegecko-ui-nav-tabs__tab {
      border-left-color: #fff;
    }

    &.active {
      position: relative;
      bottom: -1px;
      border-top-left-radius: $active-tab-border-radius;
      border-top-right-radius: $active-tab-border-radius;
      border-color: $tabs-border-color;
      background-color: #fff;
      line-height: $active-tab-line-height;

      + .tradegecko-ui-nav-tabs__tab {
        border-left-color: transparent;
      }
    }
  }
}
