$color-box-size: 170px;
$color-box-variation-size: $color-box-size*0.375;

.color {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: $size-md 0;

  &__box {
    display: flex;
    width: $color-box-size;
    height: $color-box-size;
    border-radius: 3px;
    padding: $size-sm;
    color: $white;
    font-size: 0.65rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-right: $size-sm;
    margin-bottom: $size-sm;
    text-shadow: 0px 1px 2px rgba($gray-10, 0.2);

    &-dark {
      color: $gray-9;
      text-shadow: 0px 1px 2px rgba($white, 0.5);
    }
  }

  &__info{
    &-name {
      font-family: "Raleway";
      font-weight: 600;
    }
  }

  &__primary {
    font-size: 0.8rem;
    &-name {
      font-family: "Raleway";
      font-weight: 600;
    }
  }

  &__variation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

    &-item {
      width: $color-box-variation-size;
      height: $color-box-variation-size;
      margin-right: $size-sm;
      padding: $size-xs;
      border-radius: 3px;
    }
  }
}
