.content {
  margin-left: $sidebar-width;
  color: $gray-6;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.02rem;
  line-height: 1.5;

  &__intro {
    font-size: 1.1rem;
    color: $gray-6;
  }

  &__title {
    font-size: 2rem;
    font-family: "Raleway";
    font-weight: 400;
    margin-bottom: $size-xl;
    color: $gray-9;
  }

  &__subtitle {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: $size-xxl;
    margin-bottom: $size-lg;
    color: $gray-9;
  }
}
