.sidebar {
  background-color: $ui-blue-darker;
  width: $sidebar-width;
  position: fixed;
  height: 100%;

  &__logo {
    padding: $size-xl;
    background-color: $ui-blue-dark;
    color: $white;
    font-weight: 600;
    font-family: "Raleway";
    letter-spacing: .05rem;
    text-transform: uppercase;

    img {
      margin-right: 5px;
    }
  }

  &__title {
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Raleway";
    letter-spacing: .05rem;
    color: $white;
    text-transform: uppercase;
    padding: 0 $size-xl;
    margin-top: $size-xl;
    margin-bottom: $size-sm;
  }

  a {
    color: $gray-4;
    display: block;
    padding: $size-xs $size-xl;
    transition: color .5s ease;

    &:hover, &:active, &:focus {
      text-decoration: none;
    }

    &:hover {
      color: $ui-blue-dark;
      transition: color .5s ease;
    }

    &.active {
      color: $c-moko;
      font-weight: 600;
    }
  }
}
