{{#ember-wormhole to="modal-wrapper"}}
  <div class="tradegecko-ui-action-sheet" role="dialog">
    <div class="tradegecko-ui-action-sheet__position">
      <div class="tradegecko-ui-action-sheet__content">
        {{yield}}
      </div>
    </div>
  </div>
{{/ember-wormhole}}
