<div class="details-block">
  {{#each @rows as |row|}}
    <div class="details-block__row">
      <div class="details-block__row-label">{{row.label}}</div>
      <div class="details-block__row-value">{{or row.value "-"}}</div>
    </div>
  {{/each}}
</div>
