<div class="tradegecko-ui-freeform-line-item__placeholder-img {{@icon}}"></div>
<div class="tradegecko-ui-freeform-line-item__label flex-column">{{@label}}</div>
<div class="tradegecko-ui-freeform-line-item__quantity flex-column">{{@quantity}}</div>
