<div class="tradegecko-ui-site-header__content">
  <div class="tradegecko-ui-site-header__left">
    {{yield "header-left"}}
  </div>
  <div class="tradegecko-ui-site-header__right">
    {{yield "header-right"}}
  </div>
</div>
