$tg-icon-font-family: 'TradeGecko';

$tg-var-icon: \e600;
$tg-var-box: \e601;
$tg-var-dashboard: \e602;
$tg-var-user: \e603;
$tg-var-orders: \e604;
$tg-var-purchase-orders: \e605;
$tg-var-stock-control: \e606;
$tg-var-reports: \e607;
$tg-var-my-apps: \e608;
$tg-var-folder: \e609;
$tg-var-settings: \e60a;
$tg-var-lock: \e60b;
$tg-var-refresh: \e60c;
$tg-var-power: \e60d;
$tg-var-enlarge: \e60e;
$tg-var-enlarge-inverse: \e60f;
$tg-var-minimize: \e610;
$tg-var-minimize-inverse: \e611;
$tg-var-help: \e612;
$tg-var-help-inverse: \e613;
$tg-var-factory: \e614;
$tg-var-times: \e615;
$tg-var-tick: \e616;
$tg-var-left-chevron: \e617;
$tg-var-right-chevron: \e618;
$tg-var-shopping-cart: \e619;
$tg-var-google: \e61a;
$tg-var-location-picker: \e61b;
$tg-var-camera: \e61c;
$tg-var-thin-close: \e61d;
$tg-var-thin-tick: \e61e;
$tg-var-thin-caret-left: \e61f;
$tg-var-thin-caret-right: \e620;
$tg-var-thin-plus: \e621;
$tg-var-thin-paragraph: \e622;
$tg-var-retailer: \e623;
$tg-var-ecommerce: \e624;
$tg-var-wholesale: \e625;
$tg-var-linked: \e626;
$tg-var-unlinked: \e627;
$tg-var-broken-link: \e628;
$tg-var-return: \e62;
$tg-var-arrow-left: \e62;
$tg-var-arrow-right: \e62;
$tg-var-exclamation: \e62;
$tg-var-question: \e62;
$tg-var-plus: \e62;
$tg-var-minus: \e62f;
$tg-var-thin-minus: \e63;
$tg-var-star: \e63;
$tg-var-mail-inverse: \e63;
$tg-var-mail: \e63;
$tg-var-trash-inverse: \e63;
$tg-var-trash: \e63;
$tg-var-comment: \e63;
$tg-var-comment-alert: \e63;
$tg-var-moko: \e63;
$tg-var-spinner: \e63;
$tg-var-pencil-inverse: \e63;
$tg-var-dollar-inverse: \e63;
$tg-var-percent-inverse: \e63;
$tg-var-google-g: \e63;
$tg-var-mobile: \e63;
$tg-var-dollar-bill: \e63;
$tg-var-gift: \e64;
$tg-var-magic-inverse: \e64;
$tg-var-education-inverse: \e64;
$tg-var-box-multiple: \e64;
$tg-var-business: \e64;
$tg-var-app-store: \e64;
