//  brand colours
$white:    #fff;
$gray-1:   #f4f5f8; //intuit gray-08
$gray-2:   #eceef1; //intuit gray-07 quickbooks lt gray
$gray-3:   #d4d7dc; //intuit gray-05
$gray-4:   #babec5; //intuit gray-04
$gray-5:   #8d9096; //intuit gray-03
$gray-6:   #6b6c72; //intuit gray-02
$gray-7:   #6b6c72; //retired
$gray-8:   #393a3d; //retired
$gray-9:   #393a3d; //intuit gray-01 quickbooks dk
$gray-10:  #27272a;
$black:    #000;

$ui-yellow: #ffca00;           // intuit yellow 03
$ui-yellow-dark: #ffbb00;      // intuit yellow 02
$ui-yellow-darker: #ffad00;    // intuit yellow 01
$ui-yellow-darkest: #a84600;
$ui-yellow-light: #ffdc00;     // intuit yellow 04
$ui-yellow-lighter: #ffee00;   // intuit yellow 05
$ui-yellow-lightest: #fff8eb;

$ui-red: #e43834;             // intuit red 03
$ui-red-dark: #d52b1e;        // intuit red 02
$ui-red-darker: #b80000;      // intuit red 01
$ui-red-darkest: #a01108;
$ui-red-light: #f25a52;       // intuit red 04
$ui-red-lighter: #ff8979;     // intuit red 05
$ui-red-lightest: #fef1ee;

$ui-blue: #0097e6;            // intuit blue 03
$ui-blue-dark: #0077c5;       // intuit blue 02
$ui-blue-darker: #055393;     // intuit blue 01
$ui-blue-darkest: #081a45;
$ui-blue-light: #21abf6;      // intuit blue 04
$ui-blue-lighter: #34bfff;    // intuit blue 05
$ui-blue-lightest: #e7edfb;

$ui-green: #53b700;           // intuit green 03
$ui-green-dark: #2ca01c;      // intuit green 02
$ui-green-darker: #108000;    // intuit green 01
$ui-green-darkest: #1e3a08;
$ui-green-light: #7fd000;     // intuit green 04
$ui-green-lighter: #a9e838;   // intuit green 05
$ui-green-lightest: #def8c9;

$c-moko-light:         $ui-green;
$c-moko:               $ui-green-dark;
$c-moko-dark:          $ui-green-darker;
$c-watermelon: $ui-red-dark;
