<div class="wrapper">

    <div class="sidebar">
      <div class="sidebar__logo">
        <img src="https://d3h6ue1fvxa32i.cloudfront.net/assets/tradegecko-mark-3433f1602d5b9c9963f77aaba9fd62cab8d159c2321019719e539434c7f81276.svg" width="30"> UI Guide
      </div>
      <h2 class="sidebar__title">Overview</h2>
      <ul>
        <li><a href="#">Why</a></li>
      </ul>
      <h2 class="sidebar__title">Design</h2>
      <ul>
        <li>{{#link-to "colors"}}Color Scheme{{/link-to}}</li>
        <li><a href="#">Typography</a></li>
        <li><a href="#">Animation</a></li>
        <li><a href="#">Layout</a></li>
        <li><a href="#">Icons</a></li>
      </ul>
      <h2 class="sidebar__title">Components</h2>
      <ul>
        <li>{{#link-to "buttons"}}Buttons{{/link-to}}</li>
        <li><a href="#">Tabs</a></li>
      </ul>
      <h2 class="sidebar__title">Others</h2>
      <ul>
        <li><a href="#">Tone &amp; Copy</a></li>
      </ul>
    </div>

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="content__main">
              {{outlet}}
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
