<h1 class="content__title">Color Scheme</h1>
<p class="content__intro">These are the colors that defines TradeGecko brand.</p>

<h3 class="content__subtitle" id="icons">Primary Colors</h3>
<p>The primary brand colors for TradeGecko are Moko, Slate and Storm. Note that although Moko has a light and dark variations, only the true Moko color is considered Primary.</p>

<div class="color">

  <div class="color__box" style="background-color: #70cf32">
    <div class="color__primary">
      <div class="color__primary-name">Moko</div>
      <div class="color__primary-hex">#70cf32</div>
    </div>
  </div>

  <div class="color__box" style="background-color: #6c7279">
    <div class="color__primary">
      <div class="color__primary-name">Storm</div>
      <div class="color__primary-hex">#6c7279</div>
    </div>
  </div>

  <div class="color__box" style="background-color: #2d3033">
    <div class="color__primary">
      <div class="color__primary-name">Slate</div>
      <div class="color__primary-hex">#2d3033</div>
    </div>
  </div>

</div>

<h3 class="content__subtitle" id="icons">Secondary Colors</h3>
<p>These are the secondary brand colors of TradeGecko. Each color has a light and dark variations.</p>

<div class="color">

  <div class="color__box" style="background-color: #eedf24">
    <div class="color__primary">
      <div class="color__primary-name">Prosper</div>
      <div class="color__primary-hex">#eedf24</div>
    </div>
    <div class="color__variation">
      <div class="color__variation-item" style="background-color: #f2e544">
        <div class="color__info">
          <div class="color__info-name">Light</div>
          <div class="color__info-hex">#f2e544</div>
        </div>
      </div>
      <div class="color__variation-item" style="background-color: #dacc21">
        <div class="color__info">
          <div class="color__info-name">Dark</div>
          <div class="color__info-hex">#dacc21</div>
        </div>
      </div>
    </div>
  </div>

  <div class="color__box" style="background-color: #fbb207">
    <div class="color__primary">
      <div class="color__primary-name">Oops</div>
      <div class="color__primary-hex">#fbb207</div>
    </div>
    <div class="color__variation">
      <div class="color__variation-item" style="background-color: #fccc0a">
        <div class="color__info">
          <div class="color__info-name">Light</div>
          <div class="color__info-hex">#fccc0a</div>
        </div>
      </div>
      <div class="color__variation-item" style="background-color: #e6a306">
        <div class="color__info">
          <div class="color__info-name">Dark</div>
          <div class="color__info-hex">#e6a306</div>
        </div>
      </div>
    </div>
  </div>

  <div class="color__box" style="background-color: #D0AA2B">
    <div class="color__primary">
      <div class="color__primary-name">Elite</div>
      <div class="color__primary-hex">#D0AA2B</div>
    </div>
    <div class="color__variation">
      <div class="color__variation-item" style="background-color: #e9c643">
        <div class="color__info">
          <div class="color__info-name">Light</div>
          <div class="color__info-hex">#e9c643</div>
        </div>
      </div>
      <div class="color__variation-item" style="background-color: #c49c2d">
        <div class="color__info">
          <div class="color__info-name">Dark</div>
          <div class="color__info-hex">#c49c2d</div>
        </div>
      </div>
    </div>
  </div>

  <div class="color__box" style="background-color: #f6574d">
    <div class="color__primary">
      <div class="color__primary-name">Watermelon</div>
      <div class="color__primary-hex">#f6574d</div>
    </div>
    <div class="color__variation">
      <div class="color__variation-item" style="background-color: #fa7367">
        <div class="color__info">
          <div class="color__info-name">Light</div>
          <div class="color__info-hex">#fa7367</div>
        </div>
      </div>
      <div class="color__variation-item" style="background-color: #e14f46">
        <div class="color__info">
          <div class="color__info-name">Dark</div>
          <div class="color__info-hex">#e14f46</div>
        </div>
      </div>
    </div>
  </div>

  <div class="color__box" style="background-color: #c61c1c">
    <div class="color__primary">
      <div class="color__primary-name">Mayhem</div>
      <div class="color__primary-hex">#c61c1c</div>
    </div>
    <div class="color__variation">
      <div class="color__variation-item" style="background-color: #dc2828">
        <div class="color__info">
          <div class="color__info-name">Light</div>
          <div class="color__info-hex">#dc2828</div>
        </div>
      </div>
      <div class="color__variation-item" style="background-color: #b51919">
        <div class="color__info">
          <div class="color__info-name">Dark</div>
          <div class="color__info-hex">#b51919</div>
        </div>
      </div>
    </div>
  </div>

  <div class="color__box" style="background-color: #db2182">
    <div class="color__primary">
      <div class="color__primary-name">Dragonfruit</div>
      <div class="color__primary-hex">#db2182</div>
    </div>
    <div class="color__variation">
      <div class="color__variation-item" style="background-color: #ea2fa1">
        <div class="color__info">
          <div class="color__info-name">Light</div>
          <div class="color__info-hex">#ea2fa1</div>
        </div>
      </div>
      <div class="color__variation-item" style="background-color: #c81e77">
        <div class="color__info">
          <div class="color__info-name">Dark</div>
          <div class="color__info-hex">#c81e77</div>
        </div>
      </div>
    </div>
  </div>

  <div class="color__box" style="background-color: #ed50a2">
    <div class="color__primary">
      <div class="color__primary-name">Baby</div>
      <div class="color__primary-hex">#ed50a2</div>
    </div>
    <div class="color__variation">
      <div class="color__variation-item" style="background-color: #f56bbf">
        <div class="color__info">
          <div class="color__info-name">Light</div>
          <div class="color__info-hex">#f56bbf</div>
        </div>
      </div>
      <div class="color__variation-item" style="background-color: #d94994">
        <div class="color__info">
          <div class="color__info-name">Dark</div>
          <div class="color__info-hex">#d94994</div>
        </div>
      </div>
    </div>
  </div>

  <div class="color__box" style="background-color: #a058b8">
    <div class="color__primary">
      <div class="color__primary-name">Haze</div>
      <div class="color__primary-hex">#a058b8</div>
    </div>
    <div class="color__variation">
      <div class="color__variation-item" style="background-color: #c980db">
        <div class="color__info">
          <div class="color__info-name">Light</div>
          <div class="color__info-hex">#c980db</div>
        </div>
      </div>
      <div class="color__variation-item" style="background-color: #9250a8">
        <div class="color__info">
          <div class="color__info-name">Dark</div>
          <div class="color__info-hex">#9250a8</div>
        </div>
      </div>
    </div>
  </div>

  <div class="color__box" style="background-color: #5960ce">
    <div class="color__primary">
      <div class="color__primary-name">Royal</div>
      <div class="color__primary-hex">#5960ce</div>
    </div>
    <div class="color__variation">
      <div class="color__variation-item" style="background-color: #8d95f2">
        <div class="color__info">
          <div class="color__info-name">Light</div>
          <div class="color__info-hex">#8d95f2</div>
        </div>
      </div>
      <div class="color__variation-item" style="background-color: #5158bd">
        <div class="color__info">
          <div class="color__info-name">Dark</div>
          <div class="color__info-hex">#5158bd</div>
        </div>
      </div>
    </div>
  </div>

  <div class="color__box" style="background-color: #1c4561">
    <div class="color__primary">
      <div class="color__primary-name">VHS</div>
      <div class="color__primary-hex">#1c4561</div>
    </div>
    <div class="color__variation">
      <div class="color__variation-item" style="background-color: #285e7f">
        <div class="color__info">
          <div class="color__info-name">Light</div>
          <div class="color__info-hex">#285e7f</div>
        </div>
      </div>
      <div class="color__variation-item" style="background-color: #193f59">
        <div class="color__info">
          <div class="color__info-name">Dark</div>
          <div class="color__info-hex">#193f59</div>
        </div>
      </div>
    </div>
  </div>

  <div class="color__box" style="background-color: #429bce">
    <div class="color__primary">
      <div class="color__primary-name">Ocean</div>
      <div class="color__primary-hex">#429bce</div>
    </div>
    <div class="color__variation">
      <div class="color__variation-item" style="background-color: #5ab9e1">
        <div class="color__info">
          <div class="color__info-name">Light</div>
          <div class="color__info-hex">#5ab9e1</div>
        </div>
      </div>
      <div class="color__variation-item" style="background-color: #2a78a4">
        <div class="color__info">
          <div class="color__info-name">Dark</div>
          <div class="color__info-hex">#2a78a4</div>
        </div>
      </div>
    </div>
  </div>

  <div class="color__box" style="background-color: #6fd5d9">
    <div class="color__primary">
      <div class="color__primary-name">Sky</div>
      <div class="color__primary-hex">#6fd5d9</div>
    </div>
    <div class="color__variation">
      <div class="color__variation-item" style="background-color: #8ee6e9">
        <div class="color__info">
          <div class="color__info-name">Light</div>
          <div class="color__info-hex">#8ee6e9</div>
        </div>
      </div>
      <div class="color__variation-item" style="background-color: #65c3c7">
        <div class="color__info">
          <div class="color__info-name">Dark</div>
          <div class="color__info-hex">#65c3c7</div>
        </div>
      </div>
    </div>
  </div>

  <div class="color__box" style="background-color: #7be3bd">
    <div class="color__primary">
      <div class="color__primary-name">Surf</div>
      <div class="color__primary-hex">#7be3bd</div>
    </div>
    <div class="color__variation">
      <div class="color__variation-item" style="background-color: #9aefd5">
        <div class="color__info">
          <div class="color__info-name">Light</div>
          <div class="color__info-hex">#9aefd5</div>
        </div>
      </div>
      <div class="color__variation-item" style="background-color: #70d0ad">
        <div class="color__info">
          <div class="color__info-name">Dark</div>
          <div class="color__info-hex">#70d0ad</div>
        </div>
      </div>
    </div>
  </div>

  <div class="color__box" style="background-color: #70cf32">
    <div class="color__primary">
      <div class="color__primary-name">Moko</div>
      <div class="color__primary-hex">#70cf32</div>
    </div>
    <div class="color__variation">
      <div class="color__variation-item" style="background-color: #8fe246">
        <div class="color__info">
          <div class="color__info-name">Light</div>
          <div class="color__info-hex">#8fe246</div>
        </div>
      </div>
      <div class="color__variation-item" style="background-color: #2FB628">
        <div class="color__info">
          <div class="color__info-name">Dark</div>
          <div class="color__info-hex">#2FB628</div>
        </div>
      </div>
    </div>
  </div>

  <div class="color__box" style="background-color: #B2E60C">
    <div class="color__primary">
      <div class="color__primary-name">Snot</div>
      <div class="color__primary-hex">#B2E60C</div>
    </div>
    <div class="color__variation">
      <div class="color__variation-item" style="background-color: #CCF111">
        <div class="color__info">
          <div class="color__info-name">Light</div>
          <div class="color__info-hex">#CCF111</div>
        </div>
      </div>
      <div class="color__variation-item" style="background-color: #ABCA0D">
        <div class="color__info">
          <div class="color__info-name">Dark</div>
          <div class="color__info-hex">#ABCA0D</div>
        </div>
      </div>
    </div>
  </div>

</div>


<h3 class="content__subtitle" id="icons">Shades of Black</h3>

<p>Shades of Black are mostly used for type colors, background and border colors.</p>

<div class="color">

  <div class="color__box color__box-dark" style="background-color: #f4f4f5">
    <div class="color__primary">
      <div class="color__primary-name">Hilton</div>
      <div class="color__primary-hex">Grey1<br>
      #f4f4f5</div>
    </div>
  </div>

  <div class="color__box color__box-dark" style="background-color: #e2e6e8">
    <div class="color__primary">
      <div class="color__primary-name">Sanfran</div>
      <div class="color__primary-hex">Grey2<br>
      #e2e6e8</div>
    </div>
  </div>

  <div class="color__box color__box-dark" style="background-color: #c4ced1">
    <div class="color__primary">
      <div class="color__primary-name">New York</div>
      <div class="color__primary-hex">Grey3<br>
      #c4ced1</div>
    </div>
  </div>

  <div class="color__box color__box-dark" style="background-color: #a4aeb3">
    <div class="color__primary">
      <div class="color__primary-name">London</div>
      <div class="color__primary-hex">Grey4<br>
      #a4aeb3</div>
    </div>
  </div>

  <div class="color__box color__box-dark" style="background-color: #889096">
    <div class="color__primary">
      <div class="color__primary-name">Glencoe</div>
      <div class="color__primary-hex">Grey5<br>
      #889096</div>
    </div>
  </div>

  <div class="color__box" style="background-color: #6c7279">
    <div class="color__primary">
      <div class="color__primary-name">Storm</div>
      <div class="color__primary-hex">Grey6<br>
      #6c7279</div>
    </div>
  </div>

  <div class="color__box" style="background-color: #585d64">
    <div class="color__primary">
      <div class="color__primary-name">Beijing</div>
      <div class="color__primary-hex">Grey7<br>
      #585d64</div>
    </div>
  </div>

  <div class="color__box" style="background-color: #393c40">
    <div class="color__primary">
      <div class="color__primary-name">Shanghai</div>
      <div class="color__primary-hex">Grey8<br>
      #393c40</div>
    </div>
  </div>

  <div class="color__box" style="background-color: #2d3033">
    <div class="color__primary">
      <div class="color__primary-name">Slate</div>
      <div class="color__primary-hex">Grey9<br>
      #2d3033</div>
    </div>
  </div>

  <div class="color__box" style="background-color: #242629">
    <div class="color__primary">
      <div class="color__primary-name">Delhi</div>
      <div class="color__primary-hex">Grey10<br>
      #242629</div>
    </div>
  </div>

</div>
