$alert-box-border-radius: 3px;
$alert-box-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
$title-font-size: 14px;
$message-font-size: 13px;
$alert-box-icon-font-size: 16px;

$alert-themes: (
  (
    name: warning,
    icon-color:   #ffc95b,
    border-color: #ffc95b,
  ),
  (
    name: error,
    icon-color:   #f6574d,
    border-color: #f6574d,
  ),
  (
    name: info,
    icon-color:   #429bce,
    border-color: #429bce,
  ),
  (
    name: success,
    icon-color:   #70cf32,
    border-color: #70cf32,
  ),
);

.tradegecko-ui-alert-box {
  display: flex;
  align-items: flex-start;
  padding: 15px;
  border-radius: $alert-box-border-radius;
  font-family: $alert-box-font-family;
  border: 1px solid;

  &__icon {
    font-size: $alert-box-icon-font-size;
  }

  &__close {
    color: #c4ced1;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      color: #a4aeb3;
    }
  }

  &__content {
    padding: 0 10px;
    width: 100%;
  }

  &__title {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: $title-font-size;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__message {
    font-size: $message-font-size;
    margin-right: 10px;
    margin-bottom: 0px;
    color: #393C40;
  }

  &__action > &__button {
    margin-top: 10px;
    display: inline-block;
  }

  &__list {
    margin-top: 15px;
  }

  &__close {
    color: #c4ced1;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: #a4aeb3;
    }
  }

  &__inline-link {
    font-weight: 400;
    display: block;
    margin-top: 5px;
  }

  &--hidden {
    display: none;
  }

  @each $theme in $alert-themes {
    &--#{map-get($theme, name)} {
      color: map-get($theme, font-color);
      border-color: map-get($theme, border-color);
      background-color: map-get($theme, bg-color);
    }

    &--#{map-get($theme, name)} &__icon {
      color: map-get($theme, icon-color);
    }
  }
}
