$button-border-radius: 18px;
$button-font-size: 14px;
$button-line-height: 1.1;

.tradegecko-ui-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  font-weight: 600;
  text-align: center;
  border-radius: $button-border-radius;
  cursor: pointer;

  &[disabled] {
    opacity: 0.4;
  }

  &--primary {
    font-size: $button-font-size;
    line-height: $button-line-height;
    color: $white;
    background-color: $ui-green-dark;
    border: 0;
    padding: 10px 20px;

    &:hover,
    &:focus {
      background-color: rgba($ui-green-darker, 0.9);
    }

    &:active:focus {
      background-color: $ui-green-darker;
    }

    &:disabled,
    &:disabled:hover {
      background-color: $ui-green-dark;
      opacity: 0.4;
    }
  }

  &--secondary {
    font-size: $button-font-size;
    line-height: $button-line-height;
    color: $gray-9;
    background-color: $white;
    border: 2px solid $gray-6;
    padding: 8px 20px;

    &:hover,
    &:focus {
      background-color: rgba($gray-6, 0.2);
    }

    &:active:focus {
      background-color: rgba($gray-6, 0.4);
    }

    &:disabled,
    &:disabled:hover {
      background-color: $white;
      opacity: 0.4;
    }
  }

  &--naked {
    font-size: $button-font-size;
    line-height: $button-line-height;
    color: $ui-blue-dark;
    background-color: transparent;
    border: 0;
    padding: 10px 20px;
    
    &:hover,
    &:focus {
      background-color: rgba($gray-6, 0.2);
    }

    &:active:focus {
      background-color: rgba($gray-6, 0.4);
    }

    &:disabled,
    &:disabled:hover {
      background-color: transparent;
      opacity: 0.4;
    }
  }
}
