$button-height: 38px;
$button-border-radius: 3px;
$primary-button-font-size: 13px;
$primary-button-line-height: 15px;
$secondary-button-font-size: 12px;
$secondary-button-line-height: 14px;
$naked-button-font-size: 12px;
$naked-button-line-height: 14px;

$button-types: (
  (
    name: primary,
    font-size: $primary-button-font-size,
    line-height: $primary-button-line-height,
    color: $white,
    background-color: $c-moko,
    border-color: $c-moko,
    disabled-color: $white,
    disabled-background-color: $gray-2,
    disabled-border-color: $gray-2,
  ),
  (
    name: secondary,
    font-size: $secondary-button-font-size,
    line-height: $secondary-button-line-height,
    color: $c-moko,
    background-color: $white,
    border-color: $c-moko,
    disabled-color: $gray-3,
    disabled-background-color: $white,
    disabled-border-color: $gray-2,
  ),
  (
    name: naked,
    font-size: $naked-button-font-size,
    line-height: $naked-button-line-height,
    color: $gray-4,
    background-color: $white,
    border-color: $white,
    disabled-color: $gray-3,
    disabled-background-color: $white,
    disabled-border-color: $white,
  ),
);

.tradegecko-ui-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Raleway, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  border: 1px solid;
  border-radius: $button-border-radius;
  text-transform: uppercase;
  cursor: pointer;

  &[disabled] {
    cursor: default;
    pointer-events: none;
  }

  @each $type in $button-types {
    &--#{map-get($type, name)} {
      font-size: map-get($type, font-size);
      line-height: map-get($type, line-height);
      padding: (0.5 * ($button-height - map-get($type, line-height))) 15px;
      color: map-get($type, color);
      background-color: map-get($type, background-color);
      border-color: map-get($type, border-color);

      &[disabled] {
        color: map-get($type, disabled-color);
        background-color: map-get($type, disabled-background-color);
        border-color: map-get($type, disabled-border-color);
      }
      &:focus {
        border-color: map-get($type, border-color);
      }
    }
  }
}
