$c-checkbox-bg: $white;
$c-checkbox-disabled-border: $gray-3;
$c-checkbox-disabled-bg: $gray-1;
$c-checkbox-selected-bg: $c-checkbox-bg;

// THEMES
// default apperance
$checkbox-size: 18px;
$check-size: 11px;
$check-icon-offset: 3px;
$checkbox-border-radius: 2px;
$checkbox-content-padding: 5px;
$c-check: $gray-6;
$c-disabled-check: $gray-3;
$c-checkbox-border: $gray-3;
$c-checkbox-selected-border: $c-moko;
$c-primary-border: $c-moko;

.tradegecko-ui-checkbox {
  &__input {
    opacity: 0;
    position: absolute;
    height: 0;
    width: 0;
    border: none;
    margin: 0;
    padding: 0;
    &:focus + label .tradegecko-ui-checkbox__check-icon {
      @include input-focus;
    }
  }

  &__label {
    display: flex;
    line-height: 18px;
    cursor: pointer;
  }

  &__content-container {
    padding-left: $checkbox-content-padding;
  }

  &__check-icon {
    min-width: $checkbox-size;
    width: $checkbox-size;
    height: $checkbox-size;
    border: 1px solid $c-checkbox-border;
    background: $c-checkbox-bg;
    border-radius: $checkbox-border-radius;
    cursor: pointer;
  }

  &--checked &__check-icon {
    border: 1px solid $c-checkbox-selected-border;
  }

  &__check-icon::after {
    @include tg-icon($tg-var-tick);
    font-size: $check-size;
    color: $c-check;
    margin-left: $check-icon-offset;
    visibility: hidden;
  }

  &--checked &__check-icon::after {
    visibility: visible;
  }

  &--some &__check-icon::after {
    @include tg-icon($tg-var-minus);
    font-size: $check-size;
    color: $c-check;
    margin-left: $check-icon-offset;
  }

  &--disabled {
    cursor: not-allowed;
  }

  &--disabled & {
    &__check-icon {
      border-color: $c-checkbox-disabled-border;
      background: $c-checkbox-disabled-bg;
      cursor: not-allowed;
    }

    &__check-icon::after {
      color: $c-disabled-check;
    }

    &__label {
      cursor: not-allowed;
    }
  }
}
