$freeform-vertical-spacing: 5px;
$freeform-border-bottom: 1px solid $gray-2;

$freeform-icon-size: 25px;
$text-color: $gray-6;

$freeform-icon-vertical-spacing: 5px;
$freeform-icon-right-spacing: 15px;

$freeform-label-right-spacing: 10px;

.tradegecko-ui-freeform-line-item {
  padding: $freeform-vertical-spacing 0;
  border-bottom: $freeform-border-bottom;
  display: flex;

  &__placeholder-img {
    @include square-size($freeform-icon-size);
    flex-shrink: 0;
    margin-right: $freeform-icon-right-spacing;
    margin-top: $freeform-icon-vertical-spacing;
    margin-bottom: $freeform-icon-vertical-spacing;
  }
  &__label {
    margin-right: $freeform-label-right-spacing;
    flex-grow: 1;
    color: $text-color;
    justify-content: center;
  }
  &__quantity {
    color: $text-color;
    justify-content: flex-end;
  }
}
