$empty-list-top-padding: 80px;
$empty-list-icon-height: 70px;
$empty-list-icon-width: 90px;
$empty-list-message-font-size: 18px;
$empty-list-message-font-color: $gray-6;
$empty-list-message-line-height: 28px;
$empty-list-message-top-bottom-margin: 20px;
$empty-list-message-left-right-margin: 80px;

.tradegecko-ui-empty-list {
  padding-top: $empty-list-top-padding;
  border-top: 1px solid $gray-2;
  text-align: center;

  &__icon {
    display: inline-block;
    height: $empty-list-icon-height;
    width: $empty-list-icon-width;
  }

  &__message {
    font-size: $empty-list-message-font-size;
    color: $empty-list-message-font-color;
    line-height: $empty-list-message-line-height;
    font-weight: 600;
    margin: $empty-list-message-top-bottom-margin $empty-list-message-left-right-margin;
  }
}
