$tab-font-size: 12px;
$tab-font-color: $gray-5;
$active-tab-font-color: $gray-6;
$tabs-border-color: $gray-3;
$tab-padding-left: 15px;
$tab-padding-right: 15px;
$tab-background-color: $gray-2;
$tab-line-height: 32px;
$active-tab-line-height: 35px;
$active-tab-border-radius: 2px;

.tradegecko-ui-nav-tabs {
  display: flex;
  border-bottom: 1px solid $tabs-border-color;

  &__tab, &__tab:focus {
    border: 1px solid transparent;
    border-bottom: 0;
  }

  &__tab {
    align-self: flex-end;
    padding-left: $tab-padding-left;
    padding-right: $tab-padding-right;
    background-color: $tab-background-color;
    font-size: $tab-font-size;
    color: $tab-font-color;
    line-height: $tab-line-height;
    font-weight: 600;

    &:hover {
      color: $tab-font-color;
    }

    + .tradegecko-ui-nav-tabs__tab {
      border-left-color: $white;
    }

    &.active {
      position: relative;
      bottom: -1px;
      border-top-left-radius: $active-tab-border-radius;
      border-top-right-radius: $active-tab-border-radius;
      border-color: $tabs-border-color;
      background-color: $white;
      color: $active-tab-font-color;
      line-height: $active-tab-line-height;

      + .tradegecko-ui-nav-tabs__tab {
        border-left-color: transparent;
      }
    }
  }
}
