.tradegecko-ui-progress-bar {
  position: relative;
  background-color: $gray-2;
  border-radius: 3px;
  overflow: hidden;

  &__fill {
    display: block;
    background-color: $c-moko;
    height: 6px;
    transition: width 2s ease-in-out;
  }
}
