$content-top-border: 1px solid $gray-3;
$content-padding: 15px;
$label-font-weight: 700;
$label-margin-bottom: 5px;
$input-border-radius: 3px;
$quantity-input-height: 40px;
$c-input-border: $gray-3;
$c-input-focus-border: $c-moko;
$input-hint-margin-bottom: 5px;
$primary-button-margin-top: 15px;
$secondary-button-margin-top: 15px;

.tradegecko-ui-quantity-input-modal {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__content {
    margin: $content-padding;
    margin-top: 0;
    padding-top: $content-padding;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top: $content-top-border;
  }

  &__label {
    margin-bottom: $label-margin-bottom;
    font-weight: $label-font-weight;
  }
  &__input {
    box-sizing: border-box;
    height: $quantity-input-height;
    border: 1px solid $c-input-border;
    border-radius: $input-border-radius;
    text-align: right;
  }
  &__input-hint {
    margin-top: $input-hint-margin-bottom;
  }
  &__input:focus {
    border: 1px solid $c-input-focus-border;
    box-shadow: 0 0 3px 0 rgba($c-input-focus-border, 0.5);
  }
  &__primary-button {
    margin-top: $primary-button-margin-top;
  }
  &__secondary-button {
    margin-top: $secondary-button-margin-top;
  }
  .flex-space {
    flex-grow: 1;
  }
}
