$site-header-height: 65px;
$site-header-border-color: #E2E6E8;
$site-header-padding-left: 15px;
$site-header-padding-right: 15px;

.tradegecko-ui-site-header {
  height: $site-header-height;
  border-bottom: 1px solid;
  border-bottom-color: $site-header-border-color;
  font-family: Raleway;
  display: flex;
  align-items: center;

  &__content {
    display: flex;
    padding-left: $site-header-padding-left;
    padding-right: $site-header-padding-right;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
